<h1>{{title}}</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="getdata">
    <h4>Get Data</h4>
    <form action="/data" method="get">
         <button id='getData'>Get Data</button>
         </br>
    </form>
    <div>
        {{# each items }}

                <article>
                    <div><br></div>
                    <div>Title: {{ this.title }}</div>
                    <div>Author: {{ this.author }}</div>
                    <div>Genre: {{ this.content }}</div>
                    <div>ID: {{ this._id }}</div>
                    <div><br></div>
                    <form action="/data/:{{this._id}}/delete" method="post">
                    <button id="delete" name="delete" value={{this._id}}>Delete</button>
                    </form>
                    <div><br></div>
                    <a href="/comments?id={{this._id}}">Comment</a>
                </article>
        {{/each}}

        </br>
    </div>
</section>
